VITE_API_BASE_URL=http://localhost:8080/api
VITE_WS_BASE_URL=http://localhost:8080
VITE_GITEA_URL=https://gitea.kood.tech/alekseyaleksandrovich/web
VITE_BUG_REPORT_URL=https://gitea.kood.tech/alekseyaleksandrovich/web
